body, html {
  background-color: rgb(24, 24, 24);
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.font-caveat {
  font-family: caveat, sans-serif;
  color: white;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unvisible {
  display: none;
}

/* removes all the styles of the list items and makes them horizontal */
.navBar {
  position: sticky;
  top: 0px;
  background-color: rgb(24, 24, 24);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  list-style: none;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 150px 0px 150px;
  font-size: 20px;
}

/* styles all of the list items */
.navBar > li {
  margin: 0px 0px 0px 0px;
}

.navBar > li:nth-child(1) {
  font-size: 25px;
}

/* adds margin to the second li  */
.navBar > li:nth-child(2) {
  margin-left: 30px;
}

/* moves the 3 li to the right */
.navBar > li:nth-child(3) {
  margin-left: auto;
}

.nav-bar-btn {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: white;
  height: 100px;
}

/* this class will be used for different features. makes all of the components inside center */
.component {
  margin: 90px 0px 90px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

/* styles the title for the video component */
.videoComponentTitle {
  color: white;
  font-size: 40px;
}

/* style the container wher ethe video will go */
.videoContainer {
  height: 400px;
  width: 800px;
}

/* style Try Now! */
.submitComponentTitle {
  color: white;
  font-size: 25px
}

/* style the upload btn */
.btn-submit {
  position: relative;
  width: 300px;
  height: 50px;
  background: transparent; 
  border: solid rgb(61, 214, 140) 3px;
  border-radius: 10px;
  padding: 0;
  color: white;
  text-align: center;
}

/* create a before object */
.btn-submit.btn-animation::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgb(61, 214, 140);
  z-index: -1;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

/* when the element gets clicked or hover give it a scale of 1 */
.btn-submit.btn-animation:hover::before {
  transform: scale(1);
}

/* move the btn upfront to get the background color */
.btn-submit.btn-animation {
  z-index: 1;
  transition: color .5s ease-in-out;
}

.btn-submit.btn-animation:hover {
  color: rgb(24, 24, 24);
}

/* crates the grid to display the pictures */
.resourceComponent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 750px;
  height: 650px;
}

/* styles each of the elements in the grid */
.gridElement {
  height: calc(100% - 20px); /* Adjust for margins */
  width: calc(100% - 20px);  /* Adjust for margins */
  border-radius: 15px;
  border: solid white 2px;
  margin: 10px;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* makes the grid span two blocks */
.scoreGrid {
  grid-row: 1 / span 2;
}

/* container for the carousel */
.carouselContainer {
  width: 800px;
  height: 400px;
}

/* style each of the carousel item */
.carousel-item {
  height: 300px;
  overflow: hidden;
  width: 100%;
  }

/* styles each of the reviews that are being displayed the carousel */
.reviewContainer {
  display: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  width: calc(100% - 130px);
  height: 300px;
  color: white;
  background-color: rgb(59, 59, 59);
}

/* style the user picture */
.userPictureReview {
  height: 110px;
  width: 110px;
  margin: 20px 0px 20px 0px;
  border-radius: 50%;
}

/* style the review text */
.contentReview {
  font-size: 15px;
}

/* style the name of the user */
.userNameReview {
  margin-top: 20px;
  font-weight: bold;
  font-size: 15px;
}

/* creates footer */
.footer {
  height: 80px;
  width: 100%;
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0px 150px 0px 150px;
  font-size: 20px;
  background-color: rgb(24, 24, 24);
}

/* move the link to the right */
.footer > li:nth-child(2) {
  margin-left: auto;
}

/* style the container that will hold the metrics and video upload */
.video-upload-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0px 270px 0px 270px;
  height: 750px;
  width: calc(100% - 300px);
}

/* styles the container that will hold the upload  */
.video-upload {
  height: 790px;
  width: 470px;
  padding: 10px;
  object-fit: fit;
  border: solid rgb(61, 214, 140) 2px;
  margin-left: auto;
  margin-right: auto
}


.video-upload-label {
  height: 100%;
  width: 100%;
}

.video-upload-label:hover {
  cursor: pointer;
}

/* Adjusts the logo and text */
.video-upload-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* styles the logo */
.video-upload-icon {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

/* Makes the description white*/
.video-upload-icon-description {
  color: white;
  font-size: 20px;
}

/* makes the video take up all the space */
.video {
  height: 100%;
  width: 100%;
}

/* makes the metrics to be in a column */
.video-metrics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 40px;
}

/* sizes the cointaner where the progress bars are going to be displayed */
.metrics-container {
  height: 450px;
  width: 500px;
}

/* sytles the progress bars */
.progress-bar-styling {
  margin: 40px 0px 40px 0px;
  background-color: transparent;
  border: solid white 2px;
}

/* sets the grid in which the two resouce cointer will be displayed */
.video-resource-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height: 450px;
  width: 1000px;
  background-color: aquas;
}

.video-resource {
  height: 100%;
  width: 100%;
}

/* style the resource title */
.video-resource-title {
  text-align: center;
  font-size: 25px;
}

/* styles the cointainer which the concepts will reside */
.video-concept {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  height: 100%;
  width: 500px;
  border-radius: 15px;
  border: solid white 2px;
  margin: 0px 13px 0px 13px;
}

/* style the concept */
.concept {
  all: unset;
  position: relative;
  border: solid rgb(61, 214, 140) 1px;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  text-align: center;
  color: white;
}

.concept.concept-animation::before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(24, 24, 24);
  border-radius: 50%;
  z-index: -1;
  transition: transform .5s ease-in-out;
  transform: scale(1.5);
}

.concept.concept-animation:hover::before {
  transform: scaleX(0);
}

.concept.concept-animation {
  z-index: 1;
  overflow: hidden;
  background-color: rgb(61, 214, 140);
  transition: color 0.5s ease-in-out;
}

.concept.concept-animation:hover {
  color: rgb(24, 24, 24);
}

/* sets and dispalys container */
.concept-description-container {
  position: fixed;
  height: 100%;
  width: 35%;
  background-color: rgb(24, 24, 24);
  top: 0px;
  right: 0px;
  z-index: 1000;
  color: white;
  padding: 20px;
} 

/* styles the description title */
.concept-description-title {
  font-weight: bold;
  font-size: 40px;
}

/* styles the links for the conepts */
.concept-links {
  all: unset; 
  list-style: none;
  background-color: red;
}

.concept-links > li {
  display: flex;
}

.link-title {
  margin-right: 10px;
}

.link {
  all: unset;
  cursor: pointer;
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 40, 40, 0.5); /* Semi-transparent background */
  z-index: 999; /* Above all other elements */
}