body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #0e1015;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  position: absolute;
  top: 128px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  /* background-color: #0e1015; */
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* background-color: #0e1015; */
  height: 50%;
  color: #2A2829;
  overflow: hidden;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.navBar > li {
  list-style: none;
  margin-right: 2em;
  overflow: hidden;

}

.navBar > li:first-child {
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-left: 50px;
}

.navBar > li:nth-child(2) {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

.navBar > li:nth-child(3) {
  margin-right: 50px;
}

.btnHelp {
  outline: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  background-color: #E0E0DB;
}


.helpDescription {
  position: absolute;
  width: 320px;
  height: 350px;
  right: 250px;
  z-index: 1;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
}

.helpDescription > p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.btnAppointment {
  border: 0;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: #6723ff;
  color: white;
  padding: 20px 30px;
  border-radius: 50px;
  cursor: pointer;

}

.btnAppointment:hover {
  background-color: #4d12c5;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  

}

.btnAppointment:hover {
  background-color: #4d12c5;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
  width: 100vw;
  background-color: #E0E0DB;
}

.container h1 {
  margin: 0;
  float: left;
  text-align: center;
}

.dropBox {
  /* center a div in a center */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 2;
  height: 100%;
  width: 100%;
  margin-right: 100px;
    position: relative;
}

#inputLabel {
  height: 85%;
  width: 90%;
}


.dropBoxContainer {
  height: 355px;
  width: 600px;
  
}

.dropBoxFile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #6723ff;
  height: 100%;
  width: 100%;
  border: dashed white 2px;
  border-radius: 10px;
  border-width: 4px;
  /* border: dashed #4d12c5 2px; */
}

.dropBoxFile:hover {
  background-color: #4d12c5;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  border: dashed rgb(184, 184, 184) 2px;
  border-radius: 10px;
  border-width: 4px;
  /* border: dashed #6723ff 2px; */
}

.dropBoxFile p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin: 5px;
  font-weight: 400;
  color: white;
  font-weight: bold; 
}

.boxImg {
  height: 150px;
  width: 150px;
  margin-bottom: 0;
}

.video {
  height: 50%;
  width: 70%;
}

.card {
  border-bottom: solid #E0E0DB 2px;
  width: 600px;
}

.descriptionFont {
  font-family: 'Poppins', sans-serif;
  color: white;
  
}

.feedBacks {
  padding: 50px;
  border-radius: 15px;
  margin: 20px;
  border: solid white;
}

.headTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0px;
}

.headTitle > li  {
  list-style: none;
  margin-right: 2em;
  overflow: hidden;
}

li:nth-child(1) {
  font-family: 'Roboto', sans-serif;
  margin-right: auto;
  font-weight: 500;
  font-size: 15px;
}

.boxArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  position: relative;
}

.arrowUp {
  position: absolute;
  height: 3px;
  width: 15px;
  background-color: #253551;
  transition: 0.2s;
}

.boxArrow .arrowUp:nth-child(1) {
  left: 13px;
  transform: rotate(-45deg);
}

.boxArrow .arrowUp:nth-child(2) {
  right: 13px;
  transform: rotate(45deg);
}

.boxArrow:hover .arrowUp:nth-child(1) {
  left: 13px;
  transform: rotate(-135deg);
}

.boxArrow:hover .arrowUp:nth-child(2) {
  right: 13px;
  transform: rotate(135deg);
}

.arrowDow {
  position: absolute;
  height: 3px;
  width: 15px;
  background-color: #253551;
  transition: 0.2s;
}

.boxArrow .arrowDow:nth-child(1) {
  left: 13px;
  transform: rotate(45deg);
}

.boxArrow .arrowDow:nth-child(2) {
  right: 13px;
  transform: rotate(-45deg);
}

.boxArrow:hover .arrowDow:nth-child(1) {
  left: 13px;
  transform: rotate(135deg);
}

.boxArrow:hover .arrowDow:nth-child(2) {
  right: 13px;
  transform: rotate(-135deg);
}

.desNote {
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
  color: #9b9ea3; /* old color #2A2829 */
}

.notVisible {
  display: none;
}

.gradeBox {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 600px;
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.grade {
  margin-left: none;
  margin-bottom: 0px;
  border-bottom: solid #E0E0DB 2px;
  color: white;
  font-family: 'Poppins';
}

.grade p {
  margin: 0px;
}

/* Animation */

.loadingGradeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 15px;
  margin-left: 20px;
  color: white;
  font-family: 'Poppins';
}


.dot-elastic {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: white; /* old color #2A2829 */
  animation: dot-elastic 1s infinite linear;
}

.dot-elastic::before, .dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -20px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: white; /* old color #2A2829 */
  animation: dot-elastic-before 1s infinite linear;
}

.dot-elastic::after {
  left: 20px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: white; /* old color #2A2829 */
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}