body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #fafafa;
  overflow-x: hidden;
}

.upLoadPageGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: #2A2829;
  overflow: hidden;
  margin: 0;
  padding: 0;
  /* background-color: rgb(251, 99, 99); */
}

.navBar > li {
  list-style: none;
  margin-right: 2em;
  overflow: hidden;
  margin: 0px;
}

.navBar > li:first-child {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #b4a4e5;
  font-size: 3rem;
  margin-left: 50px;
  margin-right: 0px;
}

.navBar > li:first-child  > p {
  cursor: pointer;
}

.navBar > li:nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 30px;
}

.navBar > li:nth-child(5) {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: 50px; 
}

/* .navBarDivider {
  height: 100px;
  width: 2px;
  border-left: 2px solid black;
  margin: 0px 30px;
} */

.navBarBtn {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
  background: transparent;
  border: none;
  margin: 0px 20px 0px 20px;
}

.navBarBtn:hover {
  color: #b4a4e5;
}

.dropBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.metricContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#inputLabel {
  height: 85%;
  width: 90%;
}


.dropBox {
  height: 100%;;
  width: 100%;;
}

.dropBoxFile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #9868ff;
  height: 100%;
  width: 100%;
  border: dashed white 2px;
  border-radius: 10px;
  border-width: 5px;
  cursor: pointer;
}

.dropBoxFile:hover {
  background-color: #4d12c5;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  border: dashed rgb(184, 184, 184) 2px;
  border-radius: 10px;
  border-width: 4px;
}

.dropBoxFile p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin: 5px;
  font-weight: 400;
  color: white;
  font-weight: bold; 
}

.boxImg {
  height: 150px;
  width: 150px;
  margin-bottom: 0;
}

.video {
  height: 50%;
  width: 70%;
}

.card {
  border-bottom: solid #E0E0DB 2px;
  width: 600px;
  flex-direction: row;
}

.descriptionFont {
  font-family: 'Poppins', sans-serif;
  color: black;
  
}


.cardContainer {
  width: auto;
  height: 400px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow-y: scroll;
}

.metricCards {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  overflow:scroll;
}

.homePage {
  width: 100%;
  height: auto;
}
/* Border for Metrics */
.metrics {
  height: 500px;
  overflow: scroll;
  padding: 50px;
  border-radius: 15px;
  margin: 20px;
  border: solid white;
  border: solid 4px;
  animation: changeBorderColor 15s infinite ease-in-out;
}

@keyframes changeBorderColor {
  0% {
    border-color: #b4a4e5; /* Initial color */
  }
  33% {
    border-color: #DE86E7; /* Intermediate color */
  }
  66% {
    border-color: #ff60ff; /* Final color (same as initial to loop smoothly) */
  }
  100% {
    border-color: #b4a4e5; /* Initial color */
  }
}


.headTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0px;
}

.headTitle > li  {
  list-style: none;
  margin-right: 2em;
  overflow: hidden;
  flex-direction: row;
}

li:nth-child(1) {
  font-family: 'Poppins', sans-serif;
  margin-right: auto;
  font-weight: 500;
  font-size: 15px;
}

.boxArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
}

.arrowUp {
  position: absolute;
  height: 3px;
  width: 15px;
  background-color: #253551;
  transition: 0.2s;
}

.boxArrow .arrowUp:nth-child(1) {
  left: 13px;
  transform: rotate(-45deg);
}

.boxArrow .arrowUp:nth-child(2) {
  right: 13px;
  transform: rotate(45deg);
}

.boxArrow:hover .arrowUp:nth-child(1) {
  left: 13px;
  transform: rotate(-135deg);
}

.boxArrow:hover .arrowUp:nth-child(2) {
  right: 13px;
  transform: rotate(135deg);
}

.arrowDow {
  position: absolute;
  height: 3px;
  width: 15px;
  background-color: #253551;
  transition: 0.2s;
}

.boxArrow .arrowDow:nth-child(1) {
  left: 13px;
  transform: rotate(45deg);
}

.boxArrow .arrowDow:nth-child(2) {
  right: 13px;
  transform: rotate(-45deg);
}

.boxArrow:hover .arrowDow:nth-child(1) {
  left: 13px;
  transform: rotate(135deg);
}

.boxArrow:hover .arrowDow:nth-child(2) {
  right: 13px;
  transform: rotate(-135deg);
}

.desNote {
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
  color: black; /* old color #2A2829 */
}

.notVisible {
  display: none;
}

.scoreContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 600px;
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

.scoreContainer p {
  margin-left: 0px;
}

.score {
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 15px;
  width: 70px;
  height: 40px;
  border-bottom: solid black 2px;
  color: black;
}

.score p {
  margin: auto;
}

/* Animation */

.dot-elastic {
  margin: auto;
  position: relative;
  width: 13px;
  height: 13px;
  border-radius: 10px;
  background-color: white; /* old color #2A2829 */
  animation: dot-elastic 1s infinite linear;
}

.dot-elastic::before, .dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -20px;
  width: 13px;
  height: 13px;
  border-radius: 10px;
  background-color: white; /* old color #2A2829 */
  animation: dot-elastic-before 1s infinite linear;
}

.dot-elastic::after {
  left: 20px;
  width: 13px;
  height: 13px;
  border-radius: 10px;
  background-color: white; /* old color #2A2829 */
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

::-webkit-scrollbar {
  width: 3px;
  padding-right: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #8484848d;
  border-radius: 100vw;
  margin-right: 30px;
}

/* Desktops (Large Devices) */
@media screen and (max-width: 1400px) {
  
  .upLoadPageGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 128px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 130%;
    overflow: visible;
  }

  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 2;
    height: 100%;
    width: 100%;
    margin-right: 100px;
    position: relative;
    overflow: visible;
  }

}
/* Phones (Small Devices) */
@media screen and (max-width: 767px) {


  .upLoadPageGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 230px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 130%;
    overflow: visible;
  }
  
  .navBar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      ". title title ."
      ". btn1 btn2 .";
    justify-items: center;
    align-items: center;
    height: 50%;
    color: #2A2829;
    margin: 0;
    padding: 0;
  }
  
  .navBar > li {
    list-style: none;
  }
  
  .navBar > li:first-child {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: red;
    font-size: 2.5rem;
    margin-left: 50px;
    grid-area: title;
    margin: 0px;
    background-color: blue;
  }

  .navBar > li:first-child > p {
    cursor: pointer;
  }
  
  .navBar > li:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    grid-area: btn1;
    margin: 0px;
  }
  
  .navBar > li:nth-child(3) {
    grid-area: btn2;
    margin: 0px;
  }
  
  .card {
    border-bottom: solid #E0E0DB 2px;
    width: 500px;
  }

}

/* Extra Small Screens */
@media screen and (max-width: 646px) {
  
  .navBar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      "title title title title"
      ". btn1 btn2 .";
    justify-items: center;
    align-items: center;
    height: 50%;
    color: #2A2829;
    margin: 0;
    padding: 0;
  }
  
  .gradeBox {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 350px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
  }

  .card {
    border-bottom: solid #E0E0DB 2px;
    width: 350px;
  }

  .dropBoxContainer {
    height: 300px;
    width: 350px;
    
  }
  
  .navBar > li:first-child {
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2.5rem;
    margin-left: 50px;
    margin: 0px;
  }

  .btnAppointment {
    border: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    background-color: #6723ff;
    color: white;
    padding: 0px;
    border-radius: 50px;
    height: 60px;
    width: 110px;
  }

  .btnHelp {
    outline: 0;
    border-radius: 50px;
    border: solid 3px white;
    border-color: #DE86E7;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    background-color: #0e1015;
    color: white;
    padding: 20px 30px;
    transition: ease-out 1s;
    box-shadow: inset 0px 0px  #DE86E7;
    height: 60px;
    width: 110px;
    padding: 0px;
  }

  .dropBoxFile > p {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    margin: 5px;
    font-weight: 400;
    color: white;
    font-weight: bold; 
  }

  .boxImg {
    height: 120px;
    width: 120px;
    margin-bottom: 0;
  }
}